@font-face {
  font-family: "Tex Gyre Adventor";
  src: url("./fonts/tex-gyre-adventor/texgyreadventor-regular.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Italic";
  src: url("./fonts/tex-gyre-adventor/texgyreadventor-italic.otf");
}

@font-face {
  font-family: "Tex Gyre Adventor Bold";
  src: url("./fonts/tex-gyre-adventor/texgyreadventor-bold.otf");
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
  margin: 0;
  padding: 0;
  font-family: "Tex Gyre Adventor";
  --light-text-color: #dbab9b; /*#D6B284*/
  --dark-bg-color: #11263E; /*#272728*/
  --dark-text-color: #020611; /*#2c2c2d*/
  --light-bg-color: #FFF5ED; /*#f6efe6*/
  --email-text-color: #0a1e55; /*#2c2c2d*/
}

a {
  text-decoration: none;
  font-family: "Tex Gyre Adventor";
}

a:hover {
  opacity: .6;
}

nav > a, .content-footer a {
  color: var(--light-text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#section-nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 66px;
  margin: 0;
  z-index: 10;
  border-bottom: 1px var(--light-text-color) solid;
}

#section-footer {
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px var(--light-text-color) solid;
  border-top: 1px var(--light-text-color) solid;
}

section {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:target {
  display: block;
  position: relative;
  top: -66px;
  visibility: hidden;
}

.content-nav, .content-footer {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

.content-nav {
  align-items: flex-end;
  padding: 0 0 10px 0;
  height: 100%;
}

.content-footer {
  align-items: flex-start;
  padding: 10px 0 0 0;
  justify-content: space-around;
  font-family: "Tex Gyre Adventor";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.black {
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
}

.black h1 {
  border-bottom: 1px var(--light-text-color) solid;
}

.white {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

.white h1 {
  border-bottom: 1px var(--dark-text-color) solid;
}

main {
  margin-top: 66px;
}

.content > h1, .story-content > h1  {
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/*Home*/
.home-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .95;
  padding: 70px 20px;
  text-align: center;
  width: 250px;
  border-radius: 3px;
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main-star-img {
  margin: 10px auto;
}

.home-overlay > h1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: var(--light-text-color) 1px solid;
  padding-bottom: 20px;
}

.home-overlay > h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: .8;
  font-size: 18px;
}

/*Our Story*/
#story-stars-1 {
  margin: 86px 0 0 20px;
}

#story-stars-2 {
  margin: 0 20px 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

#story-section {
  position: relative;
  height: 1261px;
}

.story-content {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0)
}

.story-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .85;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
}

.story-column {
  display: flex;
  flex-direction: column;
  margin: 80px 60px 60px 60px;
  width: 375px;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.story-overlay > h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: var(--light-text-color) 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

.story-overlay > p {
  opacity: .8;
  text-align: left;
  letter-spacing: .25px;
}

.story-img {
  height: 375px;
  width: 375px;
  object-fit: cover;
  margin: 0;
  border-radius: 3px;
}

.story-img:hover {
  cursor: pointer;
}

#proposal {
  margin-top: 40px;
}

#how-we-met {
  margin-bottom: 40px;
}

/*Bridal Party*/
.party-column, .rsvp-list-col {
  display: flex;
  flex-direction: column;
  margin: 80px 60px 60px 60px;
  width: 375px;
}

.party-stars {
  position: absolute;
  z-index: 10;
  object-fit: none;
}

.sm-b-r {
  bottom: -20px;
  left: 100px;
}


.sm-b-l {
  bottom: -25px;
  left: -23px;
}

.bg-b-l {
  bottom: -33px;
  left: -45px;
}

.bg-t-l {
  top: -30px;
  left: -33px;
}

.party-overlay, .rsvp-list-overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 25px;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  opacity: .9;
  border-radius: 3px;
  box-sizing: border-box;
}

.party-column h2, .rsvp-list-overlay > h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px var(--light-text-color) solid;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.party-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

.party-img {
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 20px;
}

.party-bio {
  display: flex;
  flex-direction: column;
}

.party-bio h3, h4 {
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
  opacity: .8;
}

.party-bio h4 {
  font-family: "Tex Gyre Adventor Italic";
}

/*The Big Day*/
.column {
  display: flex;
  flex-direction: column;
  margin: 100px 0 60px 0;
  width: 100%;
}

.bigday-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .85;
  padding: 20px 25px;
  text-align: left;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.bigday-overlay h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: var(--light-text-color) 1px solid;
  padding: 10px 0;
  text-align: left;
  margin-bottom: 30px;
}

.bigday-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}

.bigday-address > h3, .bigday-info > h3 {
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 0;
  margin: 0 0 10px 0;
  opacity: .8;
  font-family: "Tex Gyre Adventor Bold";
  color: var(--dark-text-color);
}

.bigday-info > h3 {
  letter-spacing: 1px;
}

.bigday-info > h4 {
  letter-spacing: 1px;
  font-size: 14px;
  font-family: "Tex Gyre Adventor Italic";
}

.bg-b-l-bigday {
  bottom: 0;
  left: -48px;
}

.sm-b-r-bigday {
  bottom: -28px;
  left: 277px;
}

.sm-b-r-bigday-2 {
  bottom: -18px;
  right: -28px;
}

.sm-b-r-bigday-3 {
  bottom: -22px;
  left: 260px;
}

.sm-t-r {
  top: -15px;
  right: -25px;
}

.sm-t-l {
  top: -25px;
  left: -40px;
}

.bg-t-l-2 {
  top: -19px;
  left: -47px;
}

.bigday-img {
  height: 225px;
  width: 300px;
  object-fit: cover;
  border-radius: 3px;
  margin: 0 20px 0 0;
}

.bigday-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0 20px 0;
}

.bigday-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 20px 0 0;
  width: 250px;
}

.message, .modal-message {
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--dark-text-color);
  opacity: .8;
}

/*Accommodations*/
.accomo-column {
  display: flex;
  flex-direction: column;
  margin: 80px 20px 60px 20px;
  width: 375px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .85;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  position: relative;
}

.sm-b-r-accomo {
  top: 275px;
  right: -20px;
}

.bg-t-l-3 {
  top: -35px;
  left: -43px;
}

.bg-b-l-accomo {
  bottom: -45px;
  left: -35px;
}

.sm-t-r-2 {
 top: -25px;
 right: -30px;
}

.sm-t-l-2 {
 top: 265px;
 left: -30px;
}

.accomo-column > h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: var(--light-text-color) 1px solid;
  padding: 10px;
  margin-bottom: 30px;
}

.accommo-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 3px;
}

.address, .things-todo {
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--dark-text-color);
}

.things-todo {
  height: 150px;
}

.address > h3 {
  margin: 0;
  opacity: .8;
}

.things-todo > h3 {
  opacity: .8;
  margin: 30px 0 5px 0;
  font-family: "Tex Gyre Adventor Bold";
}

.things-todo > a {
  color: var(--dark-text-color);
  opacity: .8;
}

.things-todo h4 {
  margin-bottom: 5px;
}

.things-todo h4:hover {
  opacity: .6;
}

/*RSVP*/
.rsvp-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .95;
  padding: 70px 20px;
  text-align: center;
  margin-top: 46px;
  width: 250px;
  border-radius: 3px;
  z-index: 5;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}


.rsvp-overlay h1 {
  letter-spacing: 2px;
  border-bottom: var(--light-text-color) 1px solid;
  padding-bottom: 20px;
  cursor: pointer;
}

.rsvp-overlay h1:hover {
  opacity: .6;
}

.rsvp-overlay h2, .show-modal > h2 {
  letter-spacing: 2px;
  padding-bottom: 20px;
  cursor: pointer;
  opacity: .8;
  font-family: "Tex Gyre Adventor Italic";
  font-size: 18px;
}

.rsvp-overlay h2:hover {
  opacity: .6;
}

.rsvp-form {
  display: flex;
  flex-direction: column;
  margin: 80px 0 60px 0;
  width: 100%;
  /*justify-content: space-between;*/
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .9;
  padding: 20px 25px;
}

.form-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .9;
}

.form-overlay {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 25px;
}

.form-column h3, .modal > h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px var(--light-text-color) solid;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 30px;
}

.num-message {
  letter-spacing: 1.5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.submit-button, .modal-button {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  border-radius: 3px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  align-self: flex-end;
  margin: 20px 25px 10px 0;
  border: 1px solid var(--dark-text-color);
}

.submit-button:hover {
  opacity: .6;
}

select {
  margin: 0 10px;
  width: 70px;
  height: 30px;
  font-size: 14px;
  color: var(--dark-text-color);
  border-radius: 3px;
  background-color: var(--light-bg-color);
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Tex Gyre Adventor";
  letter-spacing: 1.5px;
}

.num {
  text-align: center;
  font-family: "Tex Gyre Adventor Bold";
  font-size: 28px;
  margin: 0 10px;
}

.edit-num {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5px;
}

.edit-num > i {
  cursor: pointer;
}

.guest-info {
  margin-bottom: 25px;
  letter-spacing: 1px;
  font-size: 16px;
}

.guest-info-2 {
  align-self: flex-start;
}

.not-attending {
  display: flex;
  align-items: flex-start;
}

.guest-name, .modal-form > input {
  width: 275px;
  height: 25px;
  border: none;
  border-bottom: 1px solid var(--light-text-color);
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  font-family: "Tex Gyre Adventor";
  opacity: .8;
  font-size: 16px;
  margin: 0 0 10px 0;
  letter-spacing: 1px;
}

/*Registry*/
.registry-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .85;
  padding: 20px 0;
  text-align: left;
  margin: 100px 0 80px 0;
  width: 100%;
  border-radius: 3px;
  position: relative;
}

.registry-overlay p {
  padding: 0 25px;
  opacity: .8;
  letter-spacing: .5px;
  margin-bottom: 30px;
}

#stores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
}

#stores img {
  height: 75px;
  width: 250px;
  object-fit: contain;
  border-radius: 3px;
  margin: 20px;
}

/*RSVP List*/
.rsvp-list-overlay {
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  opacity: .85;
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  letter-spacing: 1px;
  height: 100%;
}

.rsvp-list-overlay > h2 {
  border-bottom: 1px var(--light-text-color) solid;
}

.rsvpList-name > a {
  color: var(--dark-text-color);
  font-family: "Tex Gyre Adventor Bold";
}

.guest-entree {
  font-family: "Tex Gyre Adventor Italic";
  opacity: .7;
  width: 150px;
}

table {
  margin-top: 10px;
  align-self: flex-start;
}

td {
  padding: 2px 10px;
}

.rsvpList-name {
  padding-right: 20px;
  font-family: "Tex Gyre Adventor Bold";
  width: 210px;
}

tr {
  border-radius: 3px;
}

.attending tr:nth-child(even) {
  background-color: #fffdfb;
}

/*Footer*/
.content-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: .8;
  font-size: 14px;
}

#credit-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#credit-1 img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 6px;
}

#credit-1 p {
  margin-right: 5px;
}

#credit-2 {
  margin: 0 0 25px 0;
}

/*RSVP modal*/
.dim {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5000;
  display: none;
}

.show-modal {
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
  margin: auto;
  box-shadow: 0px 2px 10px #33332e;
  text-align: left;
  border-radius: 3px;
  width: 350px;
  height: 400px;
  padding: 25px 30px;
}

.modal > h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.modal-message {
  font-family: "Tex Gyre Adventor Italic";
  margin-bottom: 5px;
}

.modal-button {
  margin: 20px 0 0 0;
  align-self: center;
}

.modal-button:hover {
  opacity: .6;
}

.close {
  align-self: flex-end;
  cursor: pointer;
}
